<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Hi</h3>
    <h4>Need Oauth?</h4>
    <h5>Go there ~> <a href="#", onclick="window.open('https://accounts.google.com/o/oauth2/v2/auth?client_id=298787315378-smaerutbtsq3n3q6h5barndl7v8f9hcr.apps.googleusercontent.com&redirect_uri=http%3A//soviet.kr/authcode&response_type=code&scope=https%3A//www.googleapis.com/auth/userinfo.email%20https%3A//www.googleapis.com/auth/userinfo.profile%20openid&state=hots', 'oauth', 'width=600,height=800')">I'm here!</a></h5> 
    ^^7
    <h5>And another method ~> <a href="#" onclick="window.open('https://accounts.google.com/o/oauth2/v2/auth?client_id=298787315378-smaerutbtsq3n3q6h5barndl7v8f9hcr.apps.googleusercontent.com&redirect_uri=http%3A//soviet.kr/token&response_type=token&scope=https%3A//www.googleapis.com/auth/userinfo.email%20https%3A//www.googleapis.com/auth/userinfo.profile%20openid&state=hots', 'oauth', 'width=600,height=800')"> gogo</a></h5>
</body>
</html>